.logo{
    display: block;
    margin: auto;
}
body{
    height: 100vh;
    background-image: linear-gradient(rgb(158, 160, 180), rgb(214, 186, 214));
}

h1{
    margin-top: 12px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.container{
    max-width: 955px;
    border: 2px solid black;
    margin: auto;
    height: 60vh;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 23px;
    border-radius: 12px;
}

.message{
    background-color: grey;
    width: 24%;
    padding: 10px;
    margin: 17px 12px;
    border: 2px solid black;
    border-radius: 10px;
}

.left{
    float: left;
    clear: both;
}

.right{
    float: right;
    clear: both;
}

#send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 1064px;
    width: 100%;
}

#messageInp{
    width: 91%;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}
.btn{
    border-radius: 6px;
    border: 2px solid black;
    background-color: grey;
    height: 38px;
}